*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}

#page1>video{
height: 100%;
width: 100%;
object-fit: cover;
}

#page1>nav{
    display: flex;
    position: absolute;
    height: 7vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#page1>nav>img{
    width: 12%;
    margin-top: -1vw;
}

#rightNav{
    margin-top: 3vw;
    margin-right: 30px;
}

#rightNav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0A45E8;
    color: white;
    font-family: a;
    font-size: 16px;
}

#bottomPage1{
    position: absolute;
    bottom: 10%;
    height: 40vh;
    width: 50vw;
    left: 8%;
}

#bottomPage1>h1{
    font-family: a;
    font-size: 6vw;
    font-weight: lighter;
    color: #fff;
    line-height: 1;
}

#bottomPage1Inner{
    display:flex;
    width: 100%;
    position: absolute;
    font-family: a;
    align-items:center;
    justify-content: space-between;
    bottom: 0;
    padding: 20px 0;
}

#bottomPage1Inner>button{
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #0A45E8;
    font-weight: 400;
    font-family: b;
    font-size: 16px;
}

#bottomPage1Inner>h4{
    font-size: 1.2vw;
    font-weight: 100;
    color: white;
}


#page2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0A45E8;
    position: relative;
    padding: 0 9vw;
    color: white;
}

#page2>h2{
    font-weight: lighter;
    margin-bottom: 2.8vw
}

#page2>h1{
    width: 90%;
    font-size: 3.5vw;
    font-weight: 100;
    line-height: 1.3;
    color: #dadada69;
}