*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}

#page1>video{
height: 100%;
width: 100%;
object-fit: cover;
}

#page1>nav{
    display: flex;
    position: absolute;
    height: 7vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#page1>nav>img{
    width: 12%;
    margin-top: -1vw;
}

#rightNav{
    margin-top: 3vw;
    margin-right: 30px;
}

#rightNav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0A45E8;
    color: white;
    font-family: a;
    font-size: 16px;
}

#bottomPage1{
    position: absolute;
    bottom: 5%;
    height: 40vh;
    width: 50vw;
    background-color: gold;
    left: 15%;
}

#bottomPage1>h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}

#bottomPage1Inner{
    position: absolute;
    font-family: a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: firebrick ;
}

